* {
  box-sizing: border-box;
}
.container {
  background-color: #efeeee;
  padding: 15px;
  width: 40%;
  margin: 0 auto;
}
.input-cont {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding: 9px;
  background-color: dodgerblue;
  min-width: 40px;
  text-align: center;
}
input,
button {
  padding: 10px;

  width: 100%;
  outline: none;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
button {
  border: none;
  opacity: 0.8;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: dodgerblue;
}
@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
}
